.img-container {
 text-align: center; 
 height: 100%;  
}
.col-sm-4:nth-child(even) {
    background-color: skyblue;
}
.col-sm-4:nth-child(odd){
    background-color: grey;
}
.img-container img {
    object-fit: cover;
    width: 100%;
    height:100%;
}